/****************************************************************************************************
 *         Este arquivo deve ser copiado no diretorio /var/www/html/webhookPdS/css                  *
 *                                    VERSAO 11 de Novembro 2024                                    *
 *                  Este css é executado automaticamente  pelo /webhookPdS/public/index.php         *
 *                  Arquivo de configuração css dos arquivos HTML e PHP                             *
/****************************************************************************************************/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.link-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 600px) {
    .link-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
